<div class="header">
    <input type="text" placeholder="Describe tu ordenador ideal!">
    <img src="assets/images/logo_Alanify1-removebg-preview.png" alt="AlaniFy Logo" class="logo">
</div>

<div class="nav">
    <a href="#">Información</a>
    <a href="#">Configurar ordenador</a>
    <a href="#">Perfil Usuario</a>
</div>

<div class="content">
    <div class="computer-image">
        <img src="assets/images/caja2.jpg" alt="Computer Image" class="computer-image-src">
    </div>
    <div class="component-list">
        <h2>Lista componentes</h2>
        <ul>
            <li>
                <span>Socket</span>
                <span>Precio: 150 €</span>
            </li>
            <li>
                <span>Procesador</span>
                <span>Precio: 150 €</span>
            </li>
            <li>
                <span>Placa base</span>
                <span>Precio: 100 €</span>
            </li>
            <li>
                <span>Memoria ram</span>
                <span>Precio: 70 €</span>
            </li>
            <li>
                <span>Tarjeta gráfica</span>
                <span>Precio: 350 €</span>
            </li>
            <li>
                <span>Disco duro</span>
                <span>Precio: 60 €</span>
            </li>
            <li>
                <span>Disco duro adicional</span>
                <span>Precio: 40 €</span>
            </li>
            <li>
                <span>Refrigeración cpu</span>
                <span>Precio: 30 €</span>
            </li>
            <li>
                <span>Fuente de alimentación</span>
                <span>Precio: 60 €</span>
            </li>
            <li>
        </ul>
    </div>
</div>
