<!--<div class="nav" role="navigation">
    <div class="logo-container">
        <img src="assets/images/logo_alanify_definitivo83.png" alt="AlaniFy Logo" class="logo">
    </div>
    <ul>
        <li>
            <button [class.active]="activeTab === 'informacion'" (click)="navigate('informacion')">
                <img src="assets/images/informacion_icono.png" alt="Información Icono">
                Información
            </button>
        </li>
        <li>
            <button [class.active]="activeTab === 'configurar'" (click)="navigate('configurar')">
                <img src="assets/images/pc_icono.png" alt="Configurar Icono">
                Configurar ordenador
            </button>
        </li>
        <li>
            <button [class.active]="activeTab === 'perfil'" (click)="navigate('perfil')">
                <img src="assets/images/perfil_icono.png" alt="Usuario Icono">
                Perfil Usuario
            </button>
        </li>
    </ul>
</div> -->
<app-nav></app-nav>

<div class="separator"></div>

<div class="content">
    <div class="info-section">
        <!-- ¿Qué hacemos? -->
        <div class="about-us">
            <h2>¿Qué hacemos?</h2>
            <p>
                En AlaniFy, nos especializamos en ayudar a los usuarios a crear ordenadores a medida, 
                adaptados a sus necesidades específicas. Facilitamos la selección y ensamblaje de los 
                mejores componentes para garantizar rendimiento, calidad y satisfacción.
            </p>
        </div>

        <!-- Información de contacto -->
        <div class="contact-info">
            <h2>Información de contacto</h2>
            <div class="contact-item">
                <img src="assets/images/icon-location.png" alt="Ubicación" class="icon">
                <p>Pásate por Calle Salsa 14, Tarragona</p>
            </div>
            <div class="contact-item">
                <img src="assets/images/icon-phone.png" alt="Teléfono" class="icon">
                <p>Dadnos un telefonazo al +34 640 248 888</p>
            </div>
            <div class="contact-item">
                <img src="assets/images/icon-email.png" alt="Correo electrónico" class="icon">
                <p>Escríbenos un mail a web8&#64;alanify.es</p>
            </div>
        </div>
    </div>
</div>